$main-color: #0aad0a;
$light-color: #f0f3f2;
$shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
  rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
  rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
$font-family: "Encode Sans Expanded", sans-serif;
$rating-color: #ffc908;

body {
  font-family: var($font-family) !important;
  overflow-x: hidden;
  font-size: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.no-border {
  border: none;
}

.brand {
  .container {
    h1 {
      color: $main-color;
    }
    .row {
      .col-md-3 {
        cursor: pointer;
        img {
            width: 100%;
        }
        h3 {
          color: $main-color;
        }
      }
      .col-md-3:hover {
        box-shadow: $shadow;
      }
    }
  }
}

// Responsive for Brand Component


@media (max-width: 992px) {
  .brand {
    display: flex;
    justify-content: center;
    background-color: #f0f3f2;
    .container {
      .row {
        width: 100%;
        display: flex;
        justify-content: space-around;
        .col-md-3 {
          width: 30%;
        }
      }
    }
  }
}
@media (max-width: 750px) {
  .brand {
    display: flex;
    justify-content: center;
    background-color: #f0f3f2;
    .container {
      .row {
        width: 100%;
        display: flex;
        justify-content: space-around;
        .col-md-3 {
          width: 45%;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .brand {
    display: flex;
    justify-content: center;
    background-color: #f0f3f2;
    .container {
      .row {
        width: 100%;
      
       
        .col-md-3 {
          width: 100%;
        }
      }
    }
  }
}