$main-color: #0aad0a;
$light-color: #f0f3f2;
$shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
  rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
  rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
$font-family: "Encode Sans Expanded", sans-serif;
$rating-color: #ffc908;

body {
  font-family: var($font-family) !important;
  overflow-x: hidden;
  font-size: 10px;
}
.main-color{
    color: $main-color;
}

.cursor-pointer {
  cursor: pointer;
}


.prodct-details{
    .container{
        .row{
            margin-top: 3em;
            display: flex;
            justify-content: center;
            align-items: center;
            .col-md-7{
                button{
                    width: 100%;
                    text-align: center;
                    margin-top: 2em;
                    height: 2.5em;
                    border: 0;
                    background-color: #0aad0a;
                    color: #fff;
                    border-radius: 10px;
                    margin-left: auto;
                }
            }
        }
    }
}