$main-color: #0aad0a;
$light-color: #f0f3f2;
$shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
  rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
  rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
$font-family: "Encode Sans Expanded", sans-serif;
$rating-color: #ffc908;
$border-height: 2px;
$border-before-color: var(--border-before-color);
$border-after-color: var(--border-after-color);
body {
  font-family: var($font-family) !important;
  overflow-x: hidden;
  font-size: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.no-border{
    border: none;
}


.home{
  .container{
    .row{
      display: flex;
      justify-content: center;

    }
  }
    h1{
        color: $main-color;
        text-align: center;
        font-weight: bold;
    }
    .next-page{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 6em;
        height: 2em;
        margin-left: auto;
        i{
            color: $main-color;
            font-size: 1.5em;
            border: none;
        }
        h5{
          font-weight: bold;
          margin-right: .5em;
        }
        p{
            width: 1.5em;
            height: 1.5em;
            color: #ffffff;
            text-align: center;
            background-color: #0aad0a;
        }
    }
}